<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:conText="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                         http://www.springframework.org/schema/beans/spring-beans.xsd
                         http://www.springframework.org/schema/context 
                         http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Bean클래스에 설정되어 있는 어노테이션을 인지하는 코드 -->
	<conText:annotation-config/>
	<!-- data1 -->
	<bean id='xml1' class='kr.co.soft.beans.TestBean1'>
		<property name="data1" value='100'/>
	</bean>
	<!-- data2 -->
	<bean class='kr.co.soft.beans.DataBean1'/>
	
	<!-- data4, data5 DataBean2로 타입이 같음-->
	<bean id='obj4' class='kr.co.soft.beans.DataBean2'/>
	<bean id='obj5' class='kr.co.soft.beans.DataBean2'/>
	
	
	<!-- TestBean2 -->
	<bean id='xml2' class='kr.co.soft.beans.TestBean2'/>
	<bean class='kr.co.soft.beans.TestBean3'/>
	<bean class='kr.co.soft.beans.TestBean4'/>
	
	
</beans>